.form {
  border: 1px solid var(--primaryColor);
  border-radius: var(--borderRadius);
}

.form:focus-within {
  border-color: #ccc;
}

.input {
  width: 100%;
  padding: 10px 15px;
  min-height: 120px;
  resize: vertical;
  border: none;
  border-radius: var(--borderRadius);
}

.input::placeholder {
  color: #878a8c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.input:focus {
  outline: none;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--primaryColor);
  padding: 5px 10px;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
  gap: 20px;
}

.btn {
  border: none;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  cursor: pointer;
}

.btnSubmit {
  background: var(--buttonSecondaryColor);
  color: #fff;
}

.btnSubmit:hover,
.btnSubmit:focus {
  background: #fb6229;
}

.btn:disabled {
  background: var(--buttonPrimaryColor);
  cursor: not-allowed;
}

.btnCancel {
  background: transparent;
  color: var(--buttonSecondaryColor);
}

.btnCancel:hover,
.btnCancel:focus {
  background: rgba(255, 119, 68, 0.15);
}
