.wrapper {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: 10px;
  margin-left: -12px;
}

.aside {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.avatarImg {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.avatarImgRoot {
  width: 34px;
  height: 34px;
}

.divider {
  width: 2px;
  background-color: var(--primaryColor);
  height: 100%;
}

.content {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
  gap: 10px;
}

.header {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.name {
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  color: var(--black);
}

.date {
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.comment {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--black);
  word-break: break-word;
}

.footer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.vote {
  display: flex;
  align-items: center;
  gap: 5px;
}

.voteCount {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: rgb(26, 26, 27);
}

.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: var(--buttonPrimaryColor);
}

.button:hover,
.button:focus,
.button:hover .buttonIcon,
.button:focus .buttonIcon,
.buttonIconActive {
  color: var(--buttonSecondaryColor);
}

.buttonIcon {
  width: 20px;
  height: 20px;
  color: var(--buttonPrimaryColor);
}

.buttonIconRotate {
  rotate: 180deg;
}

.commentIcon {
  margin-right: 5px;
}
