.container {
  position: relative;
  max-width: 700px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
  padding: 0 20px;
}

.header {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  font-size: 8px;
  color: #555;
  font-style: italic;
  margin: 0 0 40px;
  background: var(--primaryColor);
  display: flex;
  align-content: space-between;
  width: 100%;
}

@media (min-width: 1024px) {
  .header {
    padding: 10px 40px;
    font-size: 10px;
  }
}