:root {
  --black: #000000;
  --primaryColor: #f0f0f0;
  --buttonPrimaryColor: #878a8c;
  --buttonSecondaryColor: #ff7744;
  --borderRadius: 4px;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Noto Sans', sans-serif;
}

* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
